{
  "presets": [
    ["es2015"],
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-export-extensions",
    "transform-class-properties",
    "transform-decorators-legacy",
    ["transform-runtime", {
      "helpers": true,
      "polyfill": false,
      "regenerator": true
    }],
    ["transform-object-rest-spread", {
      "useBuiltIns": true
    }],
    ["transform-react-jsx", {
      "useBuiltIns": true
    }],
    ["transform-builtin-extend", {
      "globals": ["Error"]
    }]
  ]
}
